<!-- Footer Section -->
<section id="footer">

  <div class="inner footer">

    <!-- Phone -->
    <div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">
      <a class="footer-links">
        <i class="fa fa-mobile shake"></i>
      </a>

      <p class="footer-text">
        <span>Телефони:<br>
          (+38061) 270-36-78<br>
          (+38061) 270-36-79
        </span>
      </p>
    </div>

    <!-- Socials and Mail -->
    <div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">

      <!-- Social 1 -->
      <a class="footer-links" href="https://www.facebook.com/zpresurs/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>

      <!-- Mail -->
      <p class="footer-text">
        <span>Email:</span><span><a href="mailto:office@nashdom.zp.ua">office@nashdom.zp.ua</a></span>
      </p>

    </div>

    <!-- Adress -->
    <div class="col-xs-4 footer-box animated" data-animation="flipInY" data-animation-delay="0">

      <!-- Icon -->
      <a class="footer-links">
        <i class="fa fa-map-marker"></i>
      </a>

      <p class="footer-text">
        вул. Козача 5, оф. 137
        м.Запоріжжя, 69095
      </p>
    </div>

    <div class="clear"></div>

  </div> <!-- End Footer inner -->

</section><!-- End Footer Section -->
